<a href="https://colab.research.google.com/github/rafiramadhan99/Dibimbing/blob/main/Project3_Rafi_Ramadhan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Basic (80 poin) (tidak perlu submit github)**
1. Tim data scientist diminta pertolongan oleh CEO ingin meminta beberapa data terkait user. Sehingga tim data scientist diminta membuat data frame dari profil user tersebut. Silahkan buat data frame yang terdiri dari kolom berikut:

Nama

Tempat lahir

Tanggal lahir

Tanggal terakhir berbelanja

Rata-rata amount belanja per bulan (Rp)

Total transaksi per bulan

Buatlah data minimal 5 users.

2. Dari data frame tersebut pilihlah user yang paling loyal berbelanja. Dimana user loyal adalah user yang memiliki rata-rata amount belanja per bulan di atas 100 ribu rupiah dan total transaksi per bulan di atas 5.

In [ ]:
#Set up data for [Nama, Tempat lahir, Tanggal lahir, Tanggal terakhir berbelanja, Rata-rata amount belanja per bulan (Rp), Total transaksi per bulan]
dataframe = {
    'Name' : ['Atikah', 'Firman', 'Rafi', 'Wahyu', 'Zahra'],
    'Birthplace' : ['Padang', 'Malang', 'Jakarta', 'Jakarta', 'Singapura'],
    'Birthdate' : ['05-07-1995', '14-09-1990', '22-12-1999', '07-08-1998', '09-01-1995'],
    'Last Order' : ['05-07-2021', '14-09-2021', '22-12-2021', '07-08-2021', '09-01-2021'],
    'Average Amount of Purchase per Month' : [80000, 1000000, 400000, 500000, 400000],
    'Total Transaction per Month' : [1,2,7,5,8]
}
# Setup Pandas
import pandas as pd

#Setup dataframe
df_main = pd.DataFrame(dataframe)

#Setup Filter
filter1 = df_main['Average Amount of Purchase per Month'] > 100000 # Average Amount of Purchase > 100000
filter2 = df_main['Total Transaction per Month'] > 5 # Total Transaction per Month > 5
loyalfilter = filter1 & filter2

df_main[loyalfilter]

,Name,Birthplace,Birthdate,Last Order,Average Amount of Purchase per Month,Total Transaction per Month
2,Rafi,Jakarta,22-12-1999,22-12-2021,400000,7
4,Zahra,Singapura,09-01-1995,09-01-2021,400000,8

**Advanced (20 poin)**

Pilih salah satu data yang ada di kaggle (sebisa mungkin yang berhubungan dengan bisnis). Kemudian analisa data tersebut dan upload pekerjaannya di github teman-teman.
Expektasi output : link github